$borderRadius: 0.25em;
.TodoForm {
    padding: 1em;
    background-color: white;
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-between;
    width: 90%;

    button {
        background-color: green;
        color: white;
        border: none;
        border-radius: $borderRadius;
        cursor: pointer;
        font-size: 0.7em;
    }

    input {
        background-color: #eee;
        border: solid 1px #ccc;
        border-radius: $borderRadius;
        text-align: center;
        color: blue;
        padding: 0.15em 0;
    }
}